<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Manda una mail con noi!</h1>
    <form th:action="@{/sendMail}" method="post">
        <p>Destinatario: <input type="text" name="recipient"></p>
        <p>Testo:</p>
        <p><textarea name="body" rows="20" cols="50"></textarea></p>
        <p><input type="submit" value="Invia"></p>
    </form>
</body>

</html>