<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lista Studenti</h1>

    <div th:each="s: ${list}">
        <p th:text="|Nome: ${s.nome}|"></p>
        <p th:text="|Cognome: ${s.cognome}|"></p>
        <p><strong>Corso a cui è iscritto</strong></p>
        <p th:text="|Nome Corso: ${s.corso.nomeCorso}|"></p>
        <hr>
    </div>
</body>

</html>