<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lista Corsi</h1>
    <div th:each="c: ${list}">
        <p><strong th:text="${c.nomeCorso}"></strong></p>
        <p><strong>Studenti Iscritti:</strong></p>
        <ul>
            <li th:each="s: ${c.studenti}" th:text="|${s.nome} ${s.cognome}|"></li>
        </ul>
        <p><strong>Insegnanti:</strong></p>
        <ul>
            <li th:each="i: ${c.insegnamenti}" th:text="|${i.professore.nome} ${i.professore.cognome}|"></li>
        </ul>
        <hr>
    </div>
</body>

</html>